body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: centre;
    background: #d6c3a7; /*tan color*/
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container {
    text-align: center;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f7f3ee;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 300px;
    margin: 20px auto;
}

.cell {
    width: 90px;
    height: 90px;
    background: #9c7c49;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.cell:hover {
    transform: scale(1.05);
    background: #bea274;
    border: 1px solid black;
    color: #efe8dc;
}

.status {
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 24px;
}

.restart {
    padding: 10px 18px;
    font-size: 1rem;
    border: none;
    background: #bea074;
    color: #110e08;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.restart:hover {
    transform: scale(1.1);
    background: #453721;
    color: aliceblue;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.hidden, .hidden * {
    pointer-events: none;
}

.popup-content {
    background: #bea074;
    padding: 20px;
    border-radius: 16px;
    animation: pop 0.5s ease;
    color: #342918;
}

@keyframes pop {
    0% { transform: scale(0.3); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#popupIcon svg {
    width: 80px;
    height: 80px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}