:root{
    --primary:#4F46E5;
    --text:#1F2937;
    --background:		#F9FAFB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace, Arial, sans-serif;
    background-color: lavenderblush;
    color: var(--text);
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

nav a:hover{
    background-color: 	darkmagenta;
    color: white;
    transform: scale(1.08);
    opacity: 0.85;
}

img{
    display: block;
    border-radius: 50%;
    border: 4px solid darkmagenta;
    margin: 0 auto;
}

.btn{
    display: block;
    margin: 0 auto;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 15px;
}

.btn:hover{
    opacity: 0.65;
    transform: scale(1.05);
}

h1{font-size: 40x;}
h2{font-size: 26px;}
h3{font-size: 20px;}
h4{font-size: 16px;}

section{
    margin: 20px auto 40px;
    padding: 20px;
    width: 80%;
    
}

main{
    display: block;
    max-width: 900px;
    margin: 0 auto;
}

ul{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: white;
}

li{
    margin-left: 30px;
}

dl{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: white;
}

dd{
    margin-left: 40px;
    margin-bottom: 20px
}

iframe{
    display: block;
    margin: 0 auto;
    border: 4px solid darkmagenta;
}

blockquote{
    display: block;
    margin: 0 auto;
    margin-left: 100px;
}
